<h4 class="font-weight-bold text-dark">Upload Class Image</h4>
<p class="mb-10 text-muted">This image will appear on thumbails and class info pages</p>
<div class="uppy" id="kt_uppy_1">
    <div class="uppy-dashboard"></div>
    <div class="uppy-progress"></div>
</div>