@model CikguHub.Data.Class

<h4 class="font-weight-bold text-dark">Basic Details</h4>
<p class="mb-10 text-muted">Essential setup information about the class</p>

<input type="hidden" asp-for="ClassId" />
<input type="hidden" asp-for="CourseId" />
<input type="hidden" asp-for="StartTime" />
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="Name" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Title of the class</span>
    </div>
    <div class="col-xl-4">

    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">
        <div class="form-group">
            <label class="" for="Description">Class Description</label>
            <textarea class="form-control" asp-for="Description"></textarea>
        </div>
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Short description of the class (max 280 characters)</span>
    </div>
    <div class="col-xl-4">

    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="Tags" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Related categories</span>
    </div>
    <div class="col-xl-4">

    </div>
</div>

<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="Duration" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Class duration in minutes</span>
    </div>
    <div class="col-xl-4">

    </div>
</div>

<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="VideoUrl" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Url of Youtube stream (eg. https://www.youtube.com/watch?v=1WTNq6FVnJU)</span>
    </div>
    <div class="col-xl-4">

    </div>
</div>


<div class="row mb-10">
    <div class="col-xl-8">
        <form-entry asp-for="ChatChannel" />
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Url of chat stream (eg. https://t.me/cikguhub/6)</span>
    </div>
    <div class="col-xl-4">

    </div>
</div>