<h4 class="font-weight-bold text-dark">Upload Your Tenancy Agreement</h4>
<p class="mb-10 text-muted">Our robot lawyer will try to read key details from your contract</p>
<div class="uppy" id="kt_uppy_1">
    <div class="uppy-dashboard"></div>
    <div class="uppy-progress"></div>
</div>