@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<p>Thank you. Your email has been verified</p>

<a asp-area="Identity" asp-page="/Account/Manage/Email" >Proceed back to app</a>