@model CikguHub.Data.Course

<h6 class="mb-10 font-weight-bold text-dark">Please review course details</h6>

<div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
</div>