@model CikguHub.Data.Course

<h4 class="mb-10 font-weight-bold text-dark">Add Classes</h4>


<div class="row mb-10">
    <div class="col-xl-8">

    </div>
    <div class="col-xl-4">


    </div>
</div>
<div class="separator separator-dashed my-5"></div>
<h4 class="mb-10 font-weight-bold text-dark">Class Details</h4>
<div class="row mb-10">
    <div class="col-xl-8">

    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">

    </div>
</div>
<div class="row mb-10">
    <div class="col-xl-8">

    </div>
</div>
