@model CikguHub.Data.Course

<h4 class="font-weight-bold text-dark">Class Content</h4>
<p class="mb-10 text-muted">Outline of the course and download links to get started</p>


<div class="row mb-10">
    <div class="col-xl-12">
        <textarea class="form-control" asp-for="Content"></textarea>
    </div>

</div>
