@model CikguHub.Data.Course

<h4 class="font-weight-bold text-dark">Manage Classes</h4>
<p class="mb-10 text-muted">Setup available classes</p>

<div class="row mb-10">
    <div class="col-xl-12">
        <div class="card card-custom bg-white gutter-b">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bold font-size-h4 text-dark-75">Add a new class</span>
                    @*<span class="text-muted mt-3 font-weight-bold font-size-sm">
                        Last week
                        <span class="text-primary font-weight-bolder">9 accidents</span>
                    </span>*@
                </h3>
                <div class="card-toolbar">
                    @*<ul class="nav nav-pills nav-pills-sm nav-dark">
                        <li class="nav-item ml-0">
                            <a class="nav-link py-2 px-4 font-weight-bolder font-size-sm" data-toggle="tab" href="#kt_tab_pane_7_1">Active Cases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-2 px-4 active font-weight-bolder font-size-sm" data-toggle="tab" href="#kt_tab_pane_7_2">Create</a>
                        </li>
                    </ul>*@
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-1">
                <div class="input-group date" id="StartTime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" placeholder="Select date &amp; time" data-target="#StartTime">
                    <div class="input-group-append" data-target="#StartTime" data-toggle="datetimepicker">
                        <span class="input-group-text">
                            <i class="ki ki-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="mt-10">
                    <button class="btn btn-primary font-weight-bold" onclick="addClass()">Add Class</button>
                </div>
            </div>
            <!--end::Body-->
        </div>
        <div class="card card-custom gutter-b">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">Current Classes</span>
                    @*<span class="text-muted mt-3 font-weight-bold font-size-sm">
                        Next Event is in
                        <span class="text-primary">9 days</span>
                    </span>*@
                </h3>
                <div class="card-toolbar">
                    @*<ul class="nav nav-pills nav-pills-sm nav-dark-75">
                        <li class="nav-item">
                            <a class="nav-link py-2 px-4 font-weight-bolder" data-toggle="tab" href="#kt_tab_pane_10_1">Tomorrow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-2 px-4 active font-weight-bolder" data-toggle="tab" href="#kt_tab_pane_10_2">Today</a>
                        </li>
                    </ul>*@
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-2 pb-0 mt-n3">
                <div class="table-responsive">
                    <table class="table table-borderless table-vertical-center">
                        <!--begin::Thead-->
                        <thead>
                            <tr>
                                <th class="p-0 w-50px"></th>
                                <th class="p-0 w-100 min-w-100px"></th>
                                <th class="p-0"></th>
                                <th class="p-0 min-w-130px w-100"></th>
                            </tr>
                        </thead>
                        <!--end::Thead-->
                        <!--begin::Tbody-->
                        <tbody id="classes">
                            @foreach (var item in Model.Classes)
                            {
                                @await Html.PartialAsync("Partials/_Class", item)
                            }
                        </tbody>
                        <!--end::Tbody-->
                    </table>
                </div>
            </div>
            <!--end::Body-->
        </div>

    </div>

</div>
