@model CikguHub.Data.Course

<h4 class="font-weight-bold text-dark">Manage Classes</h4>
<p class="mb-10 text-muted">Setup available classes</p>

<div class="row mb-10">
    <div class="col-xl-12">
        <div class="form-group">
            <label class="" for="Content">Content</label>
            
        </div>
        <span style="margin-top:-1.5rem" class="form-text text-muted mb-5">Course page content</span>
    </div>

</div>
