@page
@model CikguHub.Pages.Payment.IndexModel
@{
    ViewData["Title"] = "Payment";
    ViewData["Subtitle"] = "Subscription";
    ViewData["ActivePage"] = NavPages.Payment;
}

@section Scripts
{
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("pk_test_51Khp7PDR88TEzbMmu5Xvt8i79iOZbTz7O99OOfqzc3g2O1dzB9UJWWX8lAlyqGoTMEVAh68Mv9MvlEsQY8zZA1G800Mm69OByj");

        function subscribeMonthly() {
            subscribe("/api/payments/subscribemonthly");
        }

        function subscribeYearly() {
            subscribe("/api/payments/subscribeyearly");
        }

        function subscribe(url) {
            fetch(url, {
                method: "POST"
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {

                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        }
    </script>
}
<!--begin::Subheader-->
@await Html.PartialAsync("Layouts/Partials/Subheader/_Subheader")
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    @if (String.IsNullOrWhiteSpace(User.GetCustomerId()))
                    {
                        <span class="card-icon">
                            <i class="flaticon2-chart text-primary"></i>
                        </span>
                        <h4 class="card-label">Subscribe to become a member</h4>
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-page="/Payment/Index" asp-page-handler="CustomerPortal">Manage subscription</a>
                    }

                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center text-center my-0 my-md-25">
                    <!-- begin: Pricing-->
                    <div class="col-md-4 col-xxl-3 bg-white rounded-left shadow-sm">
                        <div class="pt-25 pb-25 pb-md-10 px-4">
                            <h4 class="mb-15">Limited Observer</h4>
                            <span class="px-7 py-3 font-size-h1 font-weight-bold d-inline-flex flex-center bg-primary-o-10 rounded-lg mb-15">Free</span>
                            <br>
                            <p class="mb-10 d-flex flex-column text-dark-50">
                                <span>Lorem ipsum dolor sit amet adipiscing elit</span>
                                <span>sed do eiusmod tempors labore et dolore</span>
                                <span>magna siad enim aliqua</span>
                            </p>
                            <button type="button" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3" disabled>Join</button>
                        </div>
                    </div>
                    <!-- end: Pricing-->
                    <!-- begin: Pricing-->
                    <div class="col-md-4 col-xxl-3 bg-primary my-md-n15 rounded shadow-sm">
                        <div class="pt-25 pt-md-37 pb-25 pb-md-10 py-md-28 px-4">
                            <h4 class="text-white mb-15">Monthly Membership</h4>
                            <span class="px-7 py-3 bg-white d-inline-flex flex-center rounded-lg mb-15 bg-white">
                                <span class="pr-2 text-primary opacity-70">RM</span>
                                <span class="pr-2 font-size-h1 font-weight-bold text-primary">30</span>
                                <span class="text-primary opacity-70">/&nbsp;&nbsp;Per Month</span>
                            </span>
                            <br>
                            <p class="text-white mb-10 d-flex flex-column">
                                <span>Lorem ipsum dolor sit amet adipiscing elit</span>
                                <span>sed do eiusmod tempors labore et dolore</span>
                                <span>magna siad enim aliqua</span>
                            </p>
                            <button type="button" class="btn btn-white text-uppercase font-weight-bolder px-15 py-3" onclick="subscribeMonthly()">Join</button>
                        </div>
                    </div>
                    <!-- end: Pricing-->
                    <!-- begin: Pricing-->
                    <div class="col-md-4 col-xxl-3 bg-white rounded-right shadow-sm">
                        <div class="pt-25 pb-25 pb-md-10 px-4">
                            <h4 class="mb-15">Yearly Membership</h4>
                            <span class="px-7 py-3 d-inline-flex flex-center rounded-lg mb-15 bg-primary-o-10">
                                <span class="pr-2 opacity-70">RM</span>
                                <span class="pr-2 font-size-h1 font-weight-bold">300</span>
                                <span class="opacity-70">/&nbsp;&nbsp;Per Year</span>
                            </span>
                            <br>
                            <p class="mb-10 d-flex flex-column text-dark-50">
                                <span>Lorem ipsum dolor sit amet adipiscing elit</span>
                                <span>sed do eiusmod tempors labore et dolore</span>
                                <span>magna siad enim aliqua</span>
                            </p>
                            <button type="button" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3" onclick="subscribeYearly()">Join</button>
                        </div>
                    </div>
                    <!-- end: Pricing-->
                </div>
            </div>
        </div>
        <!--end::Card-->
    </div>

    <!--end::Container-->
</div>
<!--end::Entry-->