@page "{id:int}"
@model CikguHub.Pages.Payment.SuccessModel
@{
    ViewData["Title"] = "Payment";
    ViewData["Subtitle"] = "Success";
    ViewData["ActivePage"] = NavPages.Payment;
}

<!--begin::Subheader-->
@await Html.PartialAsync("Layouts/Partials/Subheader/_Subheader")
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-chart text-primary"></i>
                    </span>
                    <h4 class="card-label">@Model.SuccessMessage</h4>
                </div>
            </div>
            @*<div class="card-body">
                <div class="row justify-content-center text-center my-0 my-md-25">

                </div>
            </div>*@
        </div>
        <!--end::Card-->
    </div>

    <!--end::Container-->
</div>
<!--end::Entry-->