@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["Subtitle"] = "Manage Account";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
    </div>
    <div class="card-toolbar">
        <button type="submit" onclick="document.getElementById('password-form').submit()" class="btn btn-warning">Save Changes</button>
    </div>
</div>

<form class="form" id="password-form" method="post">
    <div class="card-body">
        <partial name="_StatusMessage" for="StatusMessage" />

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert" asp-for="Input.OldPassword">Current Password</label>
            <div class="col-lg-9 col-xl-6">
                <input type="password" class="form-control form-control-lg form-control-solid mb-2" asp-for="Input.OldPassword" placeholder="Current password">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                @*<a asp-page="./ForgotPassword" class="btn btn-link">Forgot password ?</a>*@
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert" asp-for="Input.NewPassword">New Password</label>
            <div class="col-lg-9 col-xl-6">
                <input type="password" class="form-control form-control-lg form-control-solid" asp-for="Input.NewPassword" placeholder="New password">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert" asp-for="Input.ConfirmPassword">Confirm Password</label>
            <div class="col-lg-9 col-xl-6">
                <input type="password" class="form-control form-control-lg form-control-solid" asp-for="Input.ConfirmPassword" placeholder="Confirm password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>