@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
    ViewData["Subtitle"] = "Manage Account";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<!--begin::Header-->
<div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Email Settings</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Verify or change your email address</span>
    </div>
    <div class="card-toolbar">
        <button type="submit" onclick="document.getElementById('email-form').submit()" class="btn btn-warning">Change email</button>
    </div>
</div>
<!--end::Header-->
<!--begin::Form-->
<form class="form" id="email-form" method="post">
    <div class="card-body">
        <!--begin::Heading-->
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        @if (!Model.IsEmailConfirmed && String.IsNullOrWhiteSpace(Model.StatusMessage))
        {
            <!--begin::Alert-->
            <div class="alert alert-custom alert-light-warning fade show mb-10" role="alert">
                <div class="alert-icon">
                    <span class="svg-icon svg-icon-3x svg-icon-warning">
                        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/General/Shield-disabled.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3" />
                                <path d="M10.5857864,12 L9.17157288,10.5857864 C8.78104858,10.1952621 8.78104858,9.56209717 9.17157288,9.17157288 C9.56209717,8.78104858 10.1952621,8.78104858 10.5857864,9.17157288 L12,10.5857864 L13.4142136,9.17157288 C13.8047379,8.78104858 14.4379028,8.78104858 14.8284271,9.17157288 C15.2189514,9.56209717 15.2189514,10.1952621 14.8284271,10.5857864 L13.4142136,12 L14.8284271,13.4142136 C15.2189514,13.8047379 15.2189514,14.4379028 14.8284271,14.8284271 C14.4379028,15.2189514 13.8047379,15.2189514 13.4142136,14.8284271 L12,13.4142136 L10.5857864,14.8284271 C10.1952621,15.2189514 9.56209717,15.2189514 9.17157288,14.8284271 C8.78104858,14.4379028 8.78104858,13.8047379 9.17157288,13.4142136 L10.5857864,12 Z" fill="#000000" />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>
                </div>
                <div class="alert-text font-weight-bold">
                    Please take time to verify your email address
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="ki ki-close"></i>
                        </span>
                    </button>
                </div>
            </div>
            <!--end::Alert-->
        }
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label" asp-for="Email">Current email</label>
                <div class="col-lg-9 col-xl-6">
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group input-group-lg input-group-solid">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="la la-at"></i>
                                </span>
                            </div>
                            <input asp-for="Email" class="form-control form-control-lg form-control-solid" disabled />
                            <div class="input-group-append">
                                <span class="input-group-text text-success font-weight-bold">Verified ✓</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="input-group input-group-lg input-group-solid">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="la la-at"></i>
                                </span>
                            </div>
                            <input asp-for="Email" class="form-control form-control-lg form-control-solid" disabled />
                        </div>
                        <a id="email-verification" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</a>
                        <span class="label label-light-danger label-inline font-weight-bold">!</span>
                    }
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label" asp-for="Input.NewEmail"></label>
                <div class="col-lg-9 col-xl-6">
                    <div class="input-group input-group-lg input-group-solid">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="la la-at"></i>
                            </span>
                        </div>
                        <input asp-for="Input.NewEmail" class="form-control form-control-lg form-control-solid" value="" />
                    </div>
                    <span class="form-text text-muted mb-5">This is your new email if you wish to change your current one</span>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
            </div>
        </div>
</form>
<!--end::Form-->