@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set Password";
    ViewData["Subtitle"] = "Manage Account";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Set Password</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Set your account password</span>
    </div>
    <div class="card-toolbar">
        <button type="reset" class="btn btn-success mr-2">Set Password</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
</div>
<form class="form" id="change-password-form" method="post">
    <div class="card-body">
        <partial name="_StatusMessage" for="StatusMessage" />
        <!--begin::Alert-->
        <div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
            <div class="alert-icon">
                <span class="svg-icon svg-icon-3x svg-icon-danger">
                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Code/Info-circle.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                            <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                            <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </div>
            <div class="alert-text font-weight-bold">
                You do not have a local username/password for this site. Add a local
                account so you can log in without an external login.
            </div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="ki ki-close"></i>
                    </span>
                </button>
            </div>
        </div>
        <!--end::Alert-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert" asp-for="Input.NewPassword">New Password</label>
            <div class="col-lg-9 col-xl-6">
                <input type="password" class="form-control form-control-lg form-control-solid" asp-for="Input.NewPassword" placeholder="New password">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert" asp-for="Input.ConfirmPassword">Confirm Password</label>
            <div class="col-lg-9 col-xl-6">
                <input type="password" class="form-control form-control-lg form-control-solid" asp-for="Input.ConfirmPassword" placeholder="Confirm password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>