@{
    Layout = "Layouts/_Application";
}

@section Styles {
    <!-- Page -->
    <link href=@Url.Content("~/assets/css/pages/login/login-1.css") rel="stylesheet" type="text/css" asp-append-version="true" />

    <style>
        /*.field-validation-error {
            color: #e80c4d;
            font-weight: bold;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            border: 1px solid #e80c4d;
        }

        .validation-summary-errors {
            color: #e80c4d;
            font-weight: bold;
            font-size: 1.1em;
        }

        .validation-summary-errors ul {
            list-style-type: none;
            padding-inline-start: 0px;
        }

        .validation-summary-valid {
            display: none;
        }*/

        .validation-summary-errors ul {
            list-style-type: none;
            padding-inline-start: 0px;
        }
    </style>
}

@section Scripts { @RenderSection("Scripts", required: false) }

<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url(@Url.Content("~/assets/media/bg/bg-3.jpg"));">
            <div class="login-form text-center p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="https://www.cikguhub.my">
                        <img src="@Url.Content("~/assets/media/logos/logo-letter-13.png")" class="max-h-160px" alt="" />
                    </a>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>
